.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
}
.odsazeni{
    margin-left:15em;
}
.odsazeni1{
    margin-left:35em;
}
h1{
    padding-top: 40px;
}
.obrazek{
    padding-left: 10em !important;

}
.obrazek1{
    padding-right: 15.5em !important;

}
.pozadi{
    background-color: rgb(0, 0, 0) !important;
}
.tonda1{
    color: white !important;
}
.carousel-image {
    object-fit: cover;
    object-position:center;
    height: 37em;
  }
  .film-text {
    padding: 5% !important;
  }
  @media (max-width: 768px) {
    .navbar-toggler-icon {
      background-color: #ffffff;
    }
  }
    